<form class="form-horizontal" role="form">
<input id="userId" type="hidden" value="<%=data.id%>">
<input id="password" type="hidden" value="<%=data.password%>">
    <fieldset>
        <legend>编辑用户</legend>
       <div class="form-group">
          <label class="col-sm-2 control-label" for="ds_host">用户名</label>
          <div class="col-sm-4">
             <input class="form-control" id="username" type="text" placeholder="用户名" value="<%=data.username%>"/>
          </div>
          <label class="col-sm-2 control-label" for="ds_name">昵称</label>
          <div class="col-sm-4">
             <input class="form-control" id="nickName" type="text" placeholder="昵称" value="<%=data.nickName%>"/>
          </div>
       </div>
       <div class="form-group">
          <label class="col-sm-2 control-label" for="ds_username">地址</label>
          <div class="col-sm-4">
             <input class="form-control" id="address" type="text" placeholder="地址" value="<%=data.address%>"/>
          </div>
          <!-- <label class="col-sm-2 control-label" for="ds_password">密码</label>
          <div class="col-sm-4">
             <input class="form-control" id="ds_password" type="password" placeholder="123456"/>
          </div> -->
       </div>
    </fieldset>     
    <button id="submit" type="button" class="btn btn-sm btn-primary" style="float: right;">确定</button>
</form>