<div style="position: relative;">
	<h2 class="sub-header">用户列表</h2>
	<button style="position: absolute;right: 0;top: 0;" id="addUser" type="button" class="btn btn-sm btn-danger">新增</button>
</div>

<div class="table-responsive">
   <table class="table table-striped">
     <thead>
       <tr>
         <th>#</th>
         <th>用户名</th>
         <th>昵称</th>
         <th>地址</th>
         <th>操作</th>
       </tr>
     </thead>
     <tbody>
     	<%for(var i = 0;i<data.length; i++){%>
     		<tr data-id="<%=data[i].id%>">
         		<td><%=data[i].id%></td>
         		<td><%=data[i].username%></td>
         		<td><%=data[i].nickName%></td>
         		<td><%=data[i].address%></td>
         		<td><a id="editUser">编辑</a>&nbsp;&nbsp;&nbsp;<a id="deleteUser">删除</a></td>
       		</tr>
     	<%}%>
     </tbody>
   </table>
 </div>