<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- 输出到控制台 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 设置字符集 -->
		<Encoding>UTF-8</Encoding>
		<!-- 输出格式 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
		</layout>
	</appender>

	<!-- 滚动输入到文件 info 级别 -->
	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 设置字符集 -->
		<Encoding>UTF-8</Encoding>
		<!-- 文件名 -->
		<File>${catalina.home}/logs/cc_info.log</File>
		<!-- 当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 定义滚动文件名 -->
			<FileNamePattern>${catalina.home}/logs/history/cc_info.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
			<!-- 定义最大保留份数 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<!-- 输出格式 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${catalina.home}/logs/cc_debug.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/history/cc_debug.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
		</layout>
    </appender>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="ch.qos.logback">
		<level value="WARN" />
	</logger>

    <logger name="error_file_log" level="error">
        <appender-ref ref="errorFile" />
    </logger>
    
    <!-- root 默认日志配置 --> 
   <!--  <root level="INFO">
        <appender-ref ref="infoFile" />
		<appender-ref ref="stdout" />
    </root> -->
    
    <root level="DEBUG">
        <appender-ref ref="debugFile" />
        <appender-ref ref="stdout" />
    </root>
</configuration> 