<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dish.dao.DishMapper">
    <resultMap type="Dish" id="DishMap">
        <result column="fk_dining_id" property="fkDiningId"/>
    </resultMap>
    
    
    <select id="query" resultMap="DishMap">
    	SELECT 
    		* 
    	FROM 
    		dish
   		WHERE fk_dining_id = #{diningId}
    </select>
    
    <select id="getById" resultMap="DishMap">
    	SELECT 
    		* 
    	FROM 
    		dish
   		WHERE id = #{id}
    </select>
    
    <insert id="add" parameterType="com.cc.dish.dto.Dish" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO 
        	dish 
        	(`name`,fk_dining_id,image,price,`describe`)
        VALUES 
        	(#{name},#{fkDiningId},#{image},#{price},#{describe})
    </insert>
    
    <update id="edit" parameterType="com.cc.dish.dto.Dish">
    	UPDATE 
        	dish 
        SET 
            `name`=#{name},
            fk_dining_id=#{fkDiningId},
            image=#{image},
            price=#{price},
            `describe`=#{describe}
        WHERE 
        	id=#{id}
    </update>
    
    <delete id="delete">
		DELETE
    	FROM
    		dish
    	WHERE
    		id=#{id}
	</delete>

</mapper>