<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.user.dao.UserMapper">
    <resultMap type="User" id="UserMap">
        <result column="user_name" property="username"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>
    
    
    <select id="getById" resultMap="UserMap">
    	SELECT 
    		* 
    	FROM 
    		user  
   		WHERE id = #{id}
    </select>
    
    <select id="getByName" resultMap="UserMap">
    	SELECT 
    		* 
    	FROM 
    		user  
   		WHERE user_name = #{username}
    </select>
    
    
    <select id="query" resultMap="UserMap">
    	SELECT 
    		* 
    	FROM 
    		user 
    </select>
    
    <insert id="regist" parameterType="com.cc.user.dto.User" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO 
        	user 
        	(user_name,password,nick_name)
        VALUES 
        	(#{username},#{password},#{nickName})
    </insert>

</mapper>