<form class="form-horizontal" role="form">
    <fieldset>
        <legend>新增菜品</legend>
       <div class="form-group">
          <label class="col-sm-2 control-label" for="name">名称</label>
          <div class="col-sm-4">
             <input class="form-control" id="name" type="text" placeholder="名称"/>
          </div>
          <label class="col-sm-2 control-label" for="image">图片</label>
          <div class="col-sm-4">
             <input class="form-control" id="image" type="text" placeholder="图片"/>
          </div>
       </div>
       <div class="form-group">
          <label class="col-sm-2 control-label" for="price">价格</label>
          <div class="col-sm-4">
             <input class="form-control" id="price" type="text" placeholder="价格"/>
          </div>
          <label class="col-sm-2 control-label" for="describe">描述</label>
          <div class="col-sm-4">
             <input class="form-control" id="describe" type="text" placeholder="描述"/>
          </div>
          
       </div>
    </fieldset>     
    <button id="submit" type="button" class="btn btn-sm btn-primary" style="float: right;">确定</button>
</form>